<script>
    window.addEventListener("load", () => {
        document.getElementsByClassName("copyrights")[0].innerHTML = 
            `Copyrights &copy; ${new Date().getFullYear()} {{ site.data.metaData.author }}`;
    });
</script>
<footer>
    <p>
        <span class="copyrights"></span>
        <i class="fas fa-heart" style="color: red"></i>
        <span>
            Forked from theme 
            <a href="https://github.com/ItsMeaga1n/minimal-categorized">
                Minimal Categorized
            </a>
        </span>
    </p>
</footer>
