<aside class="menu">
  <div class="menu-top">

    <ul class="navigation">
      {% for menu_item in site.data.menu.default_pages %}
        {% if menu_item.position == "top" %}
          <li>
            <a href="{{ menu_item.url | relative_url }}" title="{{ menu_item.tooltip }}" class="{% if page.category == menu_item.category %}selected{% endif %}">
              <i class="{{ menu_item.icon_name }}"> </i>
              <span class="menu-item-title">{{ menu_item.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% for menu_item in site.pages %}
        {% if menu_item.type == 'category' and menu_item.show_on_menu %}
          <li>
            <a 
              href="{{ menu_item.url | relative_url }}" 
              title="{{ menu_item.tooltip }}"
              class="{% if page.sku == menu_item.sku or page.category_sku == menu_item.sku %}selected{% endif %}"
            >
              <i class="{{ menu_item.icon_name }}"> </i>
              <span class="menu-item-title">{{ menu_item.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% for menu_item in site.data.menu.default_pages %}
        {% if menu_item.position == "bottom" %}
          <li>
            <a href="{{ menu_item.url | relative_url }}" title="{{ menu_item.tooltip }}" class="{% if page.category == menu_item.category %}selected{% endif %}">
              <i class="{{ menu_item.icon_name }}"> </i>
              <span class="menu-item-title">{{ menu_item.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="menu-contact">
    {% for contact in site.data.menu.menu_contacts %}
      <a href="{{ contact.url | relative_url }}" target="{{ contact.target }}">
        <i class="{{ contact.faicon }}"></i>
      </a>
    {% endfor %}
  </div>
</aside>
