$base-white: #fafafa;
$main-bg-color: #002b36;

$primary: #ff3036;
$p_light: #ff3036;
$p_lighter_less: #ff3036;
$p_lighter: #ff3036;
$p_lightest: #ff3036;
$p_dark: #ff3036;
$p_darker: #ff3036;
$p_darkest: #ff3036;

$dark: #fafafa;

$secondary: #f7844f;
$s_light: #faa682;
$s_lighter: #fdc9b3;
$s_lightest: #fbe8e4;
$s_dark: #001970;

$p_text: #b4b2e0;
$p_text_dimmed: #c0bfd4;
$s_text: #b4b2e0;
